[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djlint = "*"
jinja2 = "*"
pre-commit = "*"
termcolor = "*"
trufflehog = "*"
yamllint = "*"
pipdeptree = "*"

[dev-packages]

[requires]
python_version = "3.12"
