{% macro vty() %}
    !!!! Begin site specific VTY ACL configuration !!!!
    !
    !
    !!!! End site specific VTY ACL configuration !!!!
{% endmacro %}

{% macro snmp() %}
    !!!! Begin site specific SNMP configuration !!!!
    !
    testing
    !
    !!!! End site specific SNMP configuration !!!!
{% endmacro %}

{% macro multicast() %}
    !!!! Begin site specific multicast configuration !!!!
    !
    !End site specific multicast configuration
{% endmacro %}

{% macro ntp() %}
    !!!! Begin site specific NTP configuration !!!!
    !
    !
    !!!! End site specific NTP configuration !!!!
{% endmacro %}

{% macro radius() %}
    !!!! Begin site specific radius configuration !!!!
    !
    !
    !!!! End site specific radius configuration !!!!
{% endmacro %}

{% macro dns() %}
    !!!! Configure site specific name server !!!!
    !
    !
{% endmacro %}

{% macro user() %}
    !!!! Configure site specific username and/or enable secret !!!!
    !
    !
{% endmacro %}

{% macro flow_collector() %}
    !
    !
{% endmacro %}
