{# Import Macro file with site specific variables #}
{% import '$site.j2' as site %}
{# Set the switch type based on the hostname of the switch in the old config #}
{% set switch_type = "$switch_type" %}
{% if switch_type == 'router' %}
!Configured routing
ip routing
ip multicast-routing
{% endif %}
!
no wsma agent exec
no wsma agent config
no wsma agent filesys
no wsma agent notify
no wsma profile listener httplistener
no wsma profile listener httpslistener
no service pad
no service call-home
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service compress-config
service unsupported-transceiver
no ip finger
no call-home
no ip http server
no ip http authentication local
no ip http secure-server
no service tcp-small-servers
no service udp-small-servers
no tftp-server *
no service config
no ip source-route
no ip domain lookup
service tcp-keepalives-in
service tcp-keepalives-out
no logging console
no logging monitor
logging buffered 40960
ip subnet-zero
port-channel load-balance src-dst-mixed-ip-port
qos queue-softmax-multiplier 4800
!
exception crashinfo maximum files 3
!
epm logging
!
device-sensor accounting
device-sensor notify all-changes
!
vtp mode off
!
archive
 log config
  logging enable
  logging size 1000
  hidekeys
  notify syslog
!
no platform punt-keepalive disable-kernel-core
!
hostname {{ hostname }}
!
!
!
aaa new-model
aaa authentication login default group tacacs+ local enable
aaa authentication login consoleport group tacacs+ local enable
aaa authentication login no_tacacs line
aaa authorization config-commands
aaa authorization exec default group tacacs+ if-authenticated
aaa authorization exec consoleport group tacacs+ local if-authenticated
aaa authorization commands 1 default local group tacacs+ none
aaa authorization commands 15 default local group tacacs+ none
aaa authorization commands 15 consoleport group tacacs+ local if-authenticated
aaa accounting exec default start-stop group tacacs+
aaa accounting exec consoleport start-stop group tacacs+
aaa accounting commands 0 default start-stop group tacacs+
aaa accounting commands 15 default stop-only group tacacs+
aaa accounting commands 15 consoleport start-stop group tacacs+
aaa accounting connection default start-stop group tacacs+
aaa accounting system default start-stop group tacacs+
aaa accounting update newinfo periodic 2880
{% if switch_type == 'access' %}
aaa authentication dot1x default group radius
aaa authorization network default group radius
aaa accounting dot1x default start-stop group radius
aaa accounting identity default start-stop group radius
{% endif %}
!
!
!
!
!
!
aaa session-id common
clock timezone utc 0
!
!
!
!
{# Configure domain name servers per site specific variable #}
{{ site.dns() }}
!
ip domain name ndc.nasa.gov
!
!
{% if switch_type == 'access' %}
ip dhcp snooping vlan 1 4094
no ip dhcp snooping information option
no ip dhcp snooping verify mac-address
ip dhcp snooping
{% endif %}
!
login on-success log
!
!
!
!
!
device-sensor accounting
device-sensor notify all-changes
!
!
!
vtp mode off
udld enable

epm logging
authentication mac-move permit
no device-tracking logging theft
device-tracking tracking
!
!
!
!
!
dot1x system-auth-control
{# Add system mtu if it's configured in the old config #}
{% if mtu|length > 0 %}
!!!! Configured system MTU from old configuration !!!!
system mtu {{ mtu }}
!
{% endif %}
!
license boot level network-advantage addon dna-advantage
license smart reservation
!
!
diagnostic bootup level minimal
!
spanning-tree mode rapid-pvst
spanning-tree portfast bpduguard default
spanning-tree extend system-id
!
errdisable recovery cause udld
errdisable recovery cause link-flap
errdisable recovery interval 900

{# Configure local user and enable password per site specific variable #}
{{ site.user() }}
!
redundancy
 mode sso
!
!
!
{% if switch_type == 'router' %}
!!!! Configured Netflow for routers !!!!
flow record SNA-FLOW_RECORD
  description LAN IP NetFlow record format to send to SNA
  match ipv4 tos
  match ipv4 protocol
  match ipv4 source address
  match ipv4 destination address
  match transport source-port
  match transport destination-port
  match interface input
  collect transport tcp flags
  collect interface output
  collect counter bytes long
  collect counter packets long
  collect timestamp absolute first
  collect timestamp absolute last
!
flow exporter NETFLOW_TO_SNA_FC
  description Export LAN NetFlow to SNA FC
  destination {{ site.flow_collector() }}
  source {{ source_interface }}
  transport udp 2055
  template data timeout 10
!
flow monitor LAN_NETFLOW
  record SNA-FLOW_RECORD
  exporter NETFLOW_TO_SNA_FC
  cache timeout active 60
  cache timeout inactive 15
{% endif %}
!
!
!
transceiver type all
 monitoring
{# Configure VLANs from the self.vlan_dict #}
!Configured VLANs from old configuration
{% for vlan in vlans %}
vlan {{ vlan }}
name {{ vlans[vlan].name }}
!
{% endfor %}
!!!vlan_priority
!
!
!
{# Configure interfaces from old config #}
!!!Interfaces
!
{# Configure routing protocol instances if there are any #}
!!!router_config
!
{# Configure Default Gateway if there is one #}
{% if gateway|length > 0 %}
!Configured default-gateway from old configuration
ip default-gateway {{ gateway }}
!
{% endif %}
ip forward-protocol nd
no ip forward-protocol udp tftp
no ip forward-protocol udp domain
no ip forward-protocol udp time
no ip forward-protocol udp netbios-ns
no ip forward-protocol udp netbios-dgm
no ip forward-protocol udp tacacs
{# Configure rp-address from old config #}
!!!rp-address
no ip pim autorp
ip pim register-source {{ source_interface }}
ip pim ssm default
no ip http server
no ip http secure-server
ip http client source-interface {{ source_interface }}
{# Configure static routes #}
!!!ip_route
ip tacacs source-interface {{ source_interface }}
ip radius source-interface {{ source_interface }}
ip ssh time-out 60
ip ssh authentication-retries 2
ip ssh source-interface {{ source_interface }}
ip ssh version 2
ip ssh server algorithm mac hmac-sha2-256
ip ssh server algorithm encryption aes256-ctr
ip ssh server algorithm kex diffie-hellman-group14-sha1
no ip ssh server algorithm mac hmac-sha1
ip scp server enable
crypto key generate rsa general-keys modulus 2048
ntp source {{ source_interface }}
!
!
!
!
!
logging source-interface {{ source_interface }}
{# Configure logging parameters from old config #}
!!!logging
{# Configure multicast ACLs for routers. #}
{% if switch_type == 'router' %}
{{ site.multicast() }}
{% endif %}
!
!
{# Configure site specific VTY ACLs #}
{{ site.vty() }}
!
{# Configure SNMP Standards #}
!View that grants access to all MIBS
snmp-server view ALL-ACCESS iso included
!
!
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps flowmon
snmp-server enable traps entity-perf throughput-notif
snmp-server enable traps call-home message-send-fail server-fail
snmp-server enable traps tty
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps eigrp
snmp-server enable traps auth-framework sec-violation
snmp-server enable traps rep
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps port-security
snmp-server enable traps license
snmp-server enable traps smart-license
snmp-server enable traps cpu threshold
snmp-server enable traps memory bufferpeak
snmp-server enable traps stackwise
snmp-server enable traps udld link-fail-rpt
snmp-server enable traps udld status-change
snmp-server enable traps fru-ctrl
snmp-server enable traps flash insertion removal lowspace
snmp-server enable traps energywise
snmp-server enable traps power-ethernet group 1 threshold 80
snmp-server enable traps power-ethernet group 2 threshold 80
snmp-server enable traps power-ethernet group 3 threshold 80
snmp-server enable traps power-ethernet police
snmp-server enable traps entity
snmp-server enable traps pw vc
snmp-server enable traps mvpn
snmp-server enable traps envmon
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps lisp
snmp-server enable traps isis
snmp-server enable traps ipsla
snmp-server enable traps entity-diag boot-up-fail hm-test-recover hm-thresh-reached scheduled-test-fail
snmp-server enable traps bfd
snmp-server enable traps ike policy add
snmp-server enable traps ike policy delete
snmp-server enable traps ike tunnel start
snmp-server enable traps ike tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps dhcp
snmp-server enable traps event-manager
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps msdp
snmp-server enable traps ospfv3 state-change
snmp-server enable traps ospfv3 errors
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps bgp cbgp2
snmp-server enable traps nhrp nhs
snmp-server enable traps nhrp nhc
snmp-server enable traps nhrp nhp
snmp-server enable traps nhrp quota-exceeded
snmp-server enable traps mpls rfc ldp
snmp-server enable traps mpls ldp
snmp-server enable traps mpls rfc traffic-eng
snmp-server enable traps mpls traffic-eng
snmp-server enable traps mpls fast-reroute protected
snmp-server enable traps local-auth
snmp-server enable traps vlan-membership
snmp-server enable traps errdisable
snmp-server enable traps rf
snmp-server enable traps transceiver all
snmp-server enable traps bulkstat collection transfer
snmp-server enable traps mac-notification change move threshold
snmp-server enable traps vrfmib vrf-up vrf-down vnet-trunk-up vnet-trunk-down
snmp-server enable traps mpls vpn
snmp-server enable traps mpls rfc vpn
!
{# Configure SNMP per site specific parameters #}
{{ site.snmp() }}
snmp-server trap-source {{ source_interface }}
snmp-server location Bldg: {{ building }} Room: {{ room }}
snmp-server chassis-id Tag:{{ chassis_id }}
!
{{ site.tacacs }}
!
!
{% if switch_type == 'access' %}
radius-server attribute 31 mac format ietf upper-case
radius-server attribute 31 send nas-port-detail
!
radius-server dead-criteria time 30 tries 3
radius-server deadtime 15
!
dot1x system-auth-control
authentication mac-move permit
!
!
{{ site.radius() }}
!
radius-server vsa send accounting
radius-server vsa send authentication
radius-server attribute 6 on-for-login-auth
radius-server attribute 8 include-in-access-req
radius-server attribute 25 access-request include
radius-server vsa send accounting
radius-server vsa send authentication
radius-server attribute 31 mac format ietf upper-case
radius-server attribute 31 send nas-port-detail
radius-server dead-criteria time 30 tries 3
radius-server deadtime 15
radius-server key 7 133114535804213A24710A70071341140E
{% endif %}
!
ipv6 access-list VTY_ACCESS_IPv6
 sequence 10 remark deny all
 sequence 20 deny ipv6 any any log
!
ipv6 access-list SNMP_ACCESS_IPv6
 sequence 10 remark deny all
 sequence 20 deny ipv6 any any log
!
control-plane
 service-policy input system-cpp-policy
!
banner login ^C
***************************************************************
***************************************************************
**               N O T I C E  T O  U S E R S                 **
***************************************************************
***************************************************************
** By accessing and using this information system, you       **
** acknowledge and consent to the following:                 **
**                                                           **
** Unauthorized or improper use of this system may result    **
** in suspension or loss of access privileges, disciplinary  **
** action, and civil and/or criminal penalties.              **
**                                                           **
***************************************************************
***************************************************************
**               N O T I C E  T O  U S E R S                 **
***************************************************************
***************************************************************
^C
!
line con 0
 session-timeout 10
 exec-timeout 15 0
 transport output none
 stopbits 1
line vty 0 4
 session-timeout 10
 access-class VTY_ACCESS in
 exec-timeout 15 0
 ipv6 access-class VTY_ACCESS_IPv6 in
 length 0
 transport input ssh
 transport output ssh
line vty 5 97
 session-timeout 10
 access-class VTY_ACCESS in
 exec-timeout 15 0
 ipv6 access-class VTY_ACCESS_IPv6 in
 transport input none
 transport output none
!
ntp allow mode control 3
!
{# Configure NTP servers and ACLs per site specific parameters #}
{{ site.ntp() }}
!
mac address-table notification change
!
netconf-yang
netconf-yang ssh ipv4 access-list name NETCONF
netconf-yang ssh ipv6 access-list name DENY_IPV6_TRAFFIC
